 * {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
 }

 html {
    scroll-behavior: smooth;
 }

 body {
    background: black;
    color: #fff;
 }

 #header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
 }
 .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;
 }

 .header.sticky {
    height: 20px;
    background: transparent;
    backdrop-filter: blur(10px);
    transition: all .3s ease-in;
    box-shadow: 0 .1rem 1rem rgb(0, 255, 255);
 }

 .navbar {
    margin-right: -3px;
 }

 .navbar a {
    position: relative;
    font-size: 1.7rem;
    color: #fff;
    font-weight: 500;
    margin-right: 2.5rem;
    font-size: 15px;
 }

 .header.sticky.navbar a {
    color: rgba(0, 255, 255);
 }

 .header.sticky.navbar a.active {
    color: rgba(0, 255, 255);
 }

 .navbar a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: rgba(0, 255, 255);
 }

 .header.sticky.navbar a::before {
    background-color: rgba(0, 255, 255);
    opacity: .7;
 }

 .container {
    padding: 10px 10%;
 }

 nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
 }

 .logo {
    font-size: 25px;
    color: rgb(142, 255, 217);
    font-weight: 600px;
    cursor: pointer;
    margin-right: auto;
    margin-left: -40px;
    font-family: serif;
    height: -150px;
    width: auto;
 }

 .logo span {
    color: aqua;
    font-family: serif;
 }

 nav {
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
    margin-right: 10px;
 }

 nav a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    font-family: serif;
 }

nav a::after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(129, 255, 255);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
 }

 nav a:hover::after {
    width: 100%;
    box-shadow: 0 .2rem .5rem rgba(0, 255, 255);
    color: rgba(0, 255, 255);
 }
 nav a:hover,
 nav a.active {
    color: rgb(137, 255, 255);
 }
.photo{
   background-image: url(back02.jpg);
}
 .header-text {
    margin-top: 20%;
    margin-left: 500px;
    font-size: 30px;
 }

 .header-text p {
    font-family: serif;
    font-size: 35px;
 }

 .header-text h1 {
    font-size: 50px;
    margin-top: 20px;
    font-family: serif;
 }

 .header-text a {
    font-size: 20px;
 }

 .header-text h1 span {
    color: rgba(0, 255, 255);
    font-family: serif;
 }

 .header-text h2 {
    font-size: 20px;
 }

 .header-text h2 span {
    color: rgba(0, 255, 255);
 }

 .header-text h3 {
    font-size: 15px;
    color: rgba(0, 255, 255);
 }

 .header-text h3 span {
    color: #fff;
 }

 .header-text h6 {
    font-family: serif;
 }

 .header-text h6 span {
    color: rgba(0, 255, 255);
 }

 .home-col-1 img {
    width: 50%;
    margin-top: -510px;
    height: 650px;
    margin-left: -80px;
 }

 #menu-icon {
    font-size: 30px;
    display: none;
 }

 #x-icon {
    display: none;
 }
 /*------------------------------------About-----------------------------------*/
 #about {
    padding: 80px 0;
    color: #ababab;
 }

 .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }


 .about-col-1 {
    flex-basis: 35%;
 }

 .about-col-1 img {
    width: 100%;
    border-radius: 50%;
    height: 380px;
    margin-top: 80px;
    box-shadow: 0em 0em .6em .3em rgb(82, 170, 170);
 }

 .about-col-2 {
    flex-basis: 60%;
 }

 .sub-title11 {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    font-family: serif;
    margin-top: 20px;
 }

 .sub-title11 span {
    font-family: serif;
    color: rgba(0, 255, 255);
 }

 .about-col-2 p span {
    font-size: 20px;
    color: rgba(0, 255, 255);
    font-family: 'Times New Roman', Times, serif;
 }

 .about-col-2 p {
    font-family: serif;
 }

 .about-col-2 .skills1 {
    font-size: 50px;
    color: rgba(0, 255, 255);
    margin-top: 30px;
 }

 .about-col-2 .skills1 span {
    color: #fff;
    font-size: 20px;
 }

 .about-col-2 .skills2 {
    font-size: 50px;
    color: rgba(0, 255, 255);
    margin-top: 30px;
 }

 .about-col-2 .skills2 span {
    color: #fff;
    font-size: 20px;
 }

 .about-col-2 .skills3 {
    font-size: 50px;
    color: rgba(0, 255, 255);
    margin-top: 30px;
 }

 .about-col-2 .skills3 span {
    color: #fff;
    font-size: 20px;
 }

 .about-col-2 .skills4 {
    font-size: 50px;
    color: rgba(0, 255, 255);
    margin-left: 300px;
    margin-top: -233px;
 }

 .about-col-2 .skills4 span {
    color: #fff;
    font-size: 20px;
 }

 .about-col-2 .skills5 {
    font-size: 50px;
    color: rgba(0, 255, 255);
    margin-left: 300px;
    margin-top: 32px;
 }

 .about-col-2 .skills5 span {
    color: #fff;
    font-size: 20px;
 }

 .about-col-2 .skills6 {
    font-size: 50px;
    color: rgba(0, 255, 255);
    margin-left: 300px;
    margin-top: 30px;
 }

 .about-col-2 .skills6 span {
    color: #fff;
    font-size: 20px;
 }

 /*------------------------------------Slogun--------------------------------------------*/
 .slogun{
   background-image: url(back03.jpg);
 }
 .line{
   justify-content: center;
   align-items: center;
   margin-left: 150px;
   font-size: 40px;
   font-family: Copperplate;
 }
 .line p{
   font-size: 20px;
    font-family: copperplate;
 }
 .line span{
   font-size: 150px;
   font-family: 'Times New Roman', Times, serif;
   color: rgba(0, 255, 255);
 }

 /*------------------------------------Services------------------------------------------*/
 .sub-title2 {
    font-size: 50px;
    justify-content: center;
    font-weight: 600;
    align-items: center;
    margin-left: 42%;
    margin-top: 100px;
    font-family: serif;
    color: black;
 }

 .sub-title4 {
    justify-content: center;
    align-items: center;
    margin-left: 48%;
    color: black;
    margin-top: 2px;
 }

 .sub-title2 span {
    color: black;
    font-family: serif;
 }

 .sub-title10 {
    font-size: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 535px;
    font-weight: 600;
    font-family: serif;
    margin-top: 20px;
 }

 .sub-title10 span {
    color: rgba(0, 255, 255);
    font-family: serif;
 }

 .sub-title6 {
    justify-content: center;
    align-items: center;
    margin-left: 620px;
    font-weight: 600;
    font-family: serif;
    margin-top: 2px;
    color: rgba(0, 255, 255);
 }

 .title {
    font-size: 18px;
    margin-left: 41%;
    margin-top: 130px;
    color: rgba(0, 255, 255);
    font-family: serif;
 }

 .title span {
    color: #fff;
 }

 .services .services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
 }

 .services-container .services-box1 {
    background: #111;
    padding: 2rem 2rem 2rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, .2);
    text-align: center;
    border-top: .6rem solid rgb(0, 255, 255);
    border-bottom: .6rem solid rgb(0, 255, 255);
    width: 30%;
    height: 240px;
    margin-top: -9%;
    margin-bottom: -6.3%;
    margin-left: 6%;
    transition: .5s ease;
 }

 .services-container .services-box1:hover {
    box-shadow: 0 .1rem .5rem #fff;
    transform: scale(1.07);
 }

 .services-container .services-box2 {
    background: #111;
    padding: 32px 32px 32px;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, .2);
    text-align: center;
    border-top: .6rem solid rgb(0, 255, 255);
    border-bottom: .6rem solid rgb(0, 255, 255);
    width: 30%;
    height: 240px;
    margin-left: 36%;
    justify-content: center;
    transition: .5s ease;
 }

 .services-container .services-box2:hover {
    box-shadow: 0 .1rem .5rem #fff;
    transform: scale(1.07);
 }

 .services-container .services-box3 {
    background: #111;
    padding: 2rem 2rem 2rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, .2);
    text-align: center;
    border-top: .6rem solid rgb(0, 255, 255);
    border-bottom: .6rem solid rgb(0, 255, 255);
    width: 30%;
    height: 240px;
    margin-top: -34.9%;
    margin-right: 10%;
    margin-left: 66%;
    transition: .5s ease;
 }

 .services-container .services-box3:hover {
    box-shadow: 0 .1rem .5rem rgb(237, 234, 234);
    transform: scale(1.07);
 }

 .services-box1 i {
    font-size: 50px;
    margin-top: -8px;
 }

 .services-box2 i {
    font-size: 50px;
    margin-top: -8px;
 }

 .services-box3 i {
    font-size: 50px;
    margin-top: -8px;
 }

 .services-box1 h3 {
    font-size: 30px;
    color: rgba(0, 255, 255);
    font-family: serif;
 }

 .services-box2 h3 {
    font-size: 30px;
    color: rgba(0, 255, 255);
    font-family: serif;
 }

 .services-box3 h3 {
    font-size: 30px;
    color: rgba(0, 255, 255);
    font-family: serif;
 }

 .services-box1 p {
    font-size: 15px;
    font-family: serif;
 }

 .services-box2 p {
    font-size: 15px;
    font-family: serif;
 }

 .services-box3 p {
    font-size: 15px;
    font-family: serif;
 }

 .services-box1 .btn {
    font-size: 11px;
 }

 .services-box2 .btn {
    font-size: 11px;
 }

 .services-box3 .btn {
    font-size: 11px;
 }

 .btn {
    display: inline-block;
    padding: 8px 5px;
    border-radius: 5%;
    border: 1px solid rgba(0, 255, 255);
    font-size: 5px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    border: 1px solid transparent;
    transition: .5s ease;
 }

 .btn:hover {
    background: transparent;
    color: #111;
    box-shadow: 0 .2rem .5rem rgba(0, 255, 255);
 }

 /*------------------------------------Portfolio----------------------------------------*/
 
 #portfolio{
   background-image: url(back02.jpg);
 }
 .sub-title3 {
    font-size: 50px;
    justify-content: center;
    font-weight: 600;
    align-items: center;
    margin-left: 410px;
    margin-top: 25px;
    font-family: serif;
 }

 .sub-title3 span {
    color: rgba(0, 255, 255);
    font-family: serif;
 }

 .sub-title8 {
    justify-content: center;
    align-items: center;
    margin-left: 470px;
    font-weight: 600;
    font-family: serif;
    margin-top: 2px;
    color: rgba(0, 255, 255);
 }

 #portfolio {
    padding: 50px 0;
 }

 .work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
 }

 .work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
 }

 .work img {
    height: 400px;
    width: 100%;
    display: block;
    transition: transform 0.5s;
 }

 .layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 255, 255));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
 }

 .layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: serif;
 }

 .layer a {
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: linear-gradient(45deg, rgba(254, 3, 3, 0.6), rgba(0, 255, 255));
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
 }

 .work:hover img {
    transform: scale(1.1);
 }

 .work:hover .layer {
    height: 100%;
 }

 .container .btn {
    display: block;
    margin: 30px auto;
    width: fit-content;
    border: 1px solid rgba(0, 255, 255);
    padding: 12px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    background-color: #111;
    box-shadow: 0 .2rem .5rem rgba(0, 255, 255);
    font-size: 20px;
    transition: background 0.5s;
 }

 .btn:hover {
    background: rgba(0, 255, 255);
    color: #111;
 }

 /*----------------------------------------contact--------------------------------------*/
 .sub-title {
    font-family: serif;
    margin-top: 60px;
    font-size: 50px;
 }

 .sub-title5 {
    color: rgba(0, 255, 255);
    margin-left: 100px;
    margin-top: 4px;
 }

 .sub-title span {
    font-family: serif;
    color: rgba(0, 255, 255);
 }

 .contact-left {
    flex-basis: 35%;
 }

 .contact-right {
    flex-basis: 60%;
 }

 .contact-left p {
    margin-top: 30px;
 }

 .contact-left p i {
    color: rgba(0, 255, 255);
    margin-right: 15px;
    font-size: 25px;
 }

 .social-icons {
    margin-top: 30px;
 }

 .social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
 }

 .social-icons a:hover {
    color: rgba(0, 255, 255);
    transform: translateY(-5px);
 }

 .btn1 {
    display: block;
    margin: 40px auto;
    width: fit-content;
    border: 1px solid rgba(0, 255, 255);
    padding: 12px 30px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 .2rem .5rem rgba(0, 255, 255);
    font-size: 20px;
    transition: background 0.5s;
    font-family: serif;
 }

 .btn1:hover {
    background: rgba(0, 255, 255);
    color: #111;
 }

 .btn2 {
    display: block;
    margin: 40px auto;
    width: fit-content;
    border: 1px solid rgba(0, 255, 255);
    padding: 5px 40px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    box-shadow: 0 .2rem .5rem rgba(0, 255, 255);
    transition: background 0.5s;
    background-color: #111;
    cursor: pointer;
    font-family: serif;
 }

 .btn2:hover {
    background: rgba(0, 255, 255);
    color: #111;
 }

 .contact-right P {
    font-size: 20px;
    text-align: center;
    color: rgb(147, 246, 246);
    font-family: serif;
    margin-top: 80px;
 }

 .contact-right form {
    width: 100%;
    margin-top: 20px;
 }

 form input,
 form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
 }

 .copyright {
    width: 100%;
    height: 10px;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: -10px;
 }

 .copyright i {
    color: rgba(0, 255, 255);
 }

 /*--------------------------------------css for small screens-------------------------*/
 @media only screen and (max-width: 912px) {
   .photo{
      background-image: url(about02.jpg);
      width: 100%;
      height: 950px;
      margin-top: -200px;
   }
    .header-text {
       margin-top: 150%;
       margin-left: 20px;
       font-size: 20px;
    }

    .header-text h1 {
       font-size: 50px;
    }

    .home-col-1 img {
       display: none;
    }

    .logo {
       margin-left: 5px;
       font-size: 20px;
    }

    .sub-title {
       font-size: 40px;
    }

    .container {
       margin-top: -230px;
    }

    .about-col-1,
    .about-col-2 {
       flex-basis: 100%;
    }

    .about-col-1 {
       margin-bottom: 30px;
       margin-top: -200px;
    }

    .about-col-2 {
       font-size: 14px;
    }

    .about-col-2 .skills .skills1 p {
       font-size: 30px;
    }

    .about-col-2 .skills .skills3 p {
       font-size: 30px;
    }

    .about-col-2 .skills .skills2 p {
       margin-left: 150px;
       font-size: 30px;
    }

    .about-col-2 .skills .skills4 p {
       margin-left: -160px;
       margin-top: 260px;
       font-size: 30px;
    }

    .about-col-2 .skills .skills5 p {
       margin-left: -300px;
       font-size: 30px;
       margin-top: -10px;
    }

    .about-col-2 .skills .skills6 p {
       margin-left: -160px;
       font-size: 10px;
       margin-top: -10px;
    }
    .tab-links {
       font-size: 16px;
    }

    .about-col-2 p {
       font-size: 12px;
    }
    .line{
      margin-left: 50px;
    }

    .sub-title2 {
       font-size: 40px;
       margin-left: 65px;
    }

    .sub-title10 {
       font-size: 40px;
       margin-left: 100px;
    }

    .sub-title6 {
       margin-left: 150px;
    }

    .title {
       font-size: 15px;
       margin-top: 30px;
       margin-left: 80px;
    }

    #services {
       margin-top: 80px;
    }

    .services-container {
       display: flex;
       justify-content: center;
       align-items: center;
       flex-wrap: wrap;
    }

    .services-container .services-box1 {
       width: 90%;
       height: 240px;
       margin-top: 5%;
       margin-left: 5px;
    }

    .services-container .services-box2 {
       width: 90%;
       height: 240px;
       margin-left: 10px;
       margin-top: 5%;
    }

    .services-container .services-box3 {
       width: 90%;
       height: 240px;
       margin-left: 20px;
       margin-top: -1%;
       margin-right: 10px;
    }

    .services-container .services-box1 h3 {
       font-size: 25px;
    }

    .container {
       margin-top: 220px;
    }

    .sub-title3 {
       font-size: 40px;
       margin-left: 80px;
       margin-top: -50%;
    }

    .sub-title8 {
       margin-left: 120px;
    }
    .sub-title{
      margin-left: 45px;
    }

    .btn1 {
       font-size: 11px;
    }

    .contact-left,
    .contact-right {
       flex-basis: 100%;
    }

    .copyright {
       font-size: 14px;
       width: 100%;
    }
 }

 #msg {
    color: #61b752;
    margin-top: -20px;
    margin-left: 180px;
    display: block;
    font-size: 20px;
    transition: .10s ease;
    font-family: serif;
 }

 @media(max-width: 912px) {
    #menu-icon {
       display: block;
    }
    .header.sticky {
      height: 20px;
      background: #080808;
      backdrop-filter: none;
      transition: none;
      box-shadow: 0 .1rem 1rem rgb(0, 255, 255);
   }

    .navbar {
       position: absolute;
       font-size: -4px;
       top: 100%;
       left: 0;
       width: 100%;
       padding: .1rem 6%;
       background: transparent;
       backdrop-filter: blur(10px);
       transition: all .3s ease-in;
       border-top: .1rem solid rgba(0, 0, 0, .2);
       box-shadow: 0 .5rem 1rem #080808;
       display: none;
    }

    .navbar.active {
       display: block;
    }

    nav a::after {
       display: none;
    }

    .navbar a {
       display: block;
       font-size: 1rem;
       margin: 40px 0;
       color: #fff;
    }

    .navbar a.active {
       color: rgba(0, 255, 255);
    }

    .navbar a:before {
       display: none;
    }
 }
